/target/
/src/main/resources/application.properties
/orchestration/apps/application-prod.properties
/.idea/
.vscode/

.env

# Certifications

cert/*
certs/*
!certs/gen.sh
!cert/gen.sh
*.pem
*.crt
*.cert
*.key