######################
#
# Redis
#
######################

REDIS_PORT=
REDIS_PORT_TLS=

# Must be 0 or 6380
REDIS_INTERNAL_PORT=
REDIS_INTERNAL_PORT_TLS=

REDIS_TLS_AUTH_CLIENTS=

REDIS_PASSWORD=

######################
#
# PostgreSQL + Databasus
#
######################

POSTGRES_PORT=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

# Check https://www.postgresql.org/docs/current/libpq-connect.html#LIBPQ-CONNECT-SSLMODE
POSTGRES_SSL_MODE=

POSTGRES_SHARED_BUFFERS=
POSTGRES_WORK_MEM=
POSTGRES_MAINTENANCE_WORK_MEM=
POSTGRES_MAX_CONNECTIONS=

DATABASUS_UI_PORT=

######################